<div class="container">
  <div class="row">

    <div class="col-s-12">

      <p class="interval"> <a class="useraccount" href="/account">{{userName}}'s Account</a></p>


      <p class="interval splitbills"> Some text here</p>

      {{!-- <template id="liTemplate">
        {{htmlTemplate 'allTrips'}}
      </template> --}}

    </div>

  </div>
</div>
</div>
