<div class="main-text">
  <p>
    <a href="/" class="brand-logo" id="image-index"><img src="pic.jpg" width="300" height="300"></a>
  <h3 class="main-title">Some <br>
    <span id="gr-word">text</span></h3>
  <h4 class="main-sub">here <br> </h4>

  {{#if userName}}
  {{else}}
  <a href="/users/signup" class="btn-pos orange waves-effect waves-light btn-large">Sign up</a>
  {{/if}}
  </p>
</div>

<footer>

</footer>
