<div class="form-div">

  {{#if error}}
  <div class="errors-wrapper">
    <span id="gr-word">{{this.error}}</span>
    <ul class="errors">
    </ul>
  </div>
  {{/if}}
</div>

<div class="form-div">
  <form class="form-form" method="post" action="/users/signup" name="signup">
    <label for="username">Your Name:</label>
    <input class="input-in-form" id="name-p" name="name" type="text">

    <label for="useremail">Email:</label>
    <input class="input-in-form" id="email-p" name="email" type="email">

    <label for="userpassword">Password:</label>
    <input class="input-in-form" required id="password-p" name="password" type="password">

    <input class="btn-pos orange btn waves-effect waves-light" id="registration" type="submit" value="sign up">
  </form>
</div>
