* {
  box-sizing: border-box;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

[class*='col-'] {
  float: left;
  padding: 15px;
}

/* ETO DLYA HOME PAGE NAV */
/* ETO NA TELEFON  */
[class*='col-'] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* ETO DLYA IPAD */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* ETO DLYA KOMPA: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.useraccount {
  margin-left: 10px;
  white-space: pre-line !important;
  color: var(--tl-color, #616161) !important;
  font-size: var(--tl-font-size, 28px) !important;
  font-weight: var(--tl-font-weight, 800) !important;
}
.splitbills {
  margin-left: 10px;
  white-space: pre-line !important;
  color: var(--tl-color, grey) !important;
  font-size: var(--tl-font-size, 20px) !important;
  font-weight: var(--tl-font-weight, 800) !important;
}
.clickontrip {
  font-size: 13px;
  margin-left: 20px;
  margin-top: 6px;
  text-align: left;
  padding: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
}

.title {
  font-size: 13px;
  margin-left: 20px;

  color: var(--tl-color, #ff6f00) !important;
  font-size: var(--tl-font-size, 32px) !important;
  font-weight: var(--tl-font-weight, 800) !important;
  letter-spacing: var(--tl-letter-spacing, normalem) !important;
  line-height: var(--tl-line-height, 26px) !important;
}
.waves-effect {
  margin-left: 20px;
}
.waves-light {
  margin-left: 20px;
}
.btn-large {
  margin-left: 20px;
}

.giveitaname {
  text-align: left;
}
.interval {
  line-height: 2;
}
.acc-btn {
  margin-top: 50px;
}
.all-trips-title {
  margin-left: 10px;
  white-space: pre-line !important;
  color: var(--tl-color, #616161) !important;
  font-size: var(--tl-font-size, 28px) !important;
  font-weight: var(--tl-font-weight, 800) !important;
  text-align: center;
}
.trips-a {
  color: #2e7d32;
  text-decoration: none;
}
.list-of-trips {
  text-align: center;
}
